body {
    text-align: center;
    background-size: cover;
    font-size: 30px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(15, 11, 11);
    overflow: hidden;
    margin-top: 0px;
    margin-left: 0px;
    
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(255, 217, 0, 0.603);
    color: white;
}

#login-details {
    display: block;
    font-size: 30px;
}
#logformsubmit {
    font-size: 20px;
    background-color: green;
}
#signdtls {
    color: red;
    font-size: 35px;

}
#sign-up-details {
    position: static;
    display: none;
    text-align: center;
}

#weather-html {
    display: none;
    text-align: center;
    font-size: 15px;
}

#main-div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.recommendation-details {
    text-align: center;
}

button.like {
    background: #fff;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: #65676b;
    padding: 5px 10px;
}
  
button.liked {
    color: #0571ed;
}
button.liked i{
    animation: anim 0.5s ease-in-out;
    -webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
    100% {
      transform: rotate(-15deg) scale(1.3);
      -webkit-transform: rotate(-15deg) scale(1.3);
      -moz-transform: rotate(-15deg) scale(1.3);
      -ms-transform: rotate(-15deg) scale(1.3);
      -o-transform: rotate(-15deg) scale(1.3);
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
    }
}

#Aboutinfo {
    display: none;
    text-align: center;
    font-size: 40px;
    margin: 50px 40px 40px
}

#Feedbackinfo {
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: left;
    background: #65676b;
    padding: 3em;
    border-radius: 30px;
    width: 100%;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

button {
    font-size: 20px;
    border-radius: 10px;
}

#recomm {
    color: rgb(38, 0, 255);
    font-size: 30px;
}
#alert {
    display: none;
}

#feedback-review {
    font-size: 12px;
}

.material-icons {
    font-size: 2px;
}